h1 {
    border-bottom: 1px solid blue;
    border-radius: 10%;
    height: 50px;
    width: 300px;
    bottom: 40px;
    text-align: center;
}

li {
    font-size: 18px;
    margin-top: 10px;
}

td {
    padding: 10px;
}